@charset "UTF-8";
*{ margin: 0; padding: 0; border: 0; }
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
img{border:none; vertical-align:top;}
input,button{ font-family:Tahoma,Verdana,Geneva,sans-serif}
a{ text-decoration:none;}a:hover{ text-decoration: underline;}
i{ font-style:normal;}
html{ font-size: 50px;}
body{ font-size: 0.24rem;}

.c_f60{ color: #f60 !important; }

.dialog_box{ font-size: 0.28rem; position: absolute; left: 5%; top: 15%; background-color:rgba(0,0,0,0.6); width: 90%; z-index: 10; padding: 0.4rem; box-sizing:border-box; border-radius: 0.2rem; display: none;}
.dialog_list dt{ font-size: 0.48rem; font-weight: bold; color:#f4730e; text-align: center; margin-bottom: 0.2rem; }
.dialog_list dd{ padding:0 0 0.3rem; }
.dialog_list dd p{ position: relative; overflow: hidden; padding: 0.05rem 0 0.05rem 1.8rem; color: #ddd; line-height: 0.38rem; }
.dialog_list dd b{ float: left; margin-left: -1.8rem; text-align: right; width: 1.6rem; }
.close{ position: absolute; top: 0; right: 0; width: 1.36rem; height: 1.36rem; background: url(close.png) no-repeat center center; background-size: 40%; text-indent: -999px; overflow: hidden; }
.btn{ display: block; margin: 0 auto; width: 1.6rem; height: 0.62rem; line-height: 0.62rem; text-align: center; color: #fff; background-color: #f90; }
.loading{ width: 100%; height: 100%; background-color: rgba(0,0,0,1); position: absolute; left: 0; top: 0; z-index: 99; }
.loading p{ width: 100%; position: absolute; top: 48%; font-size: 0.28rem; color: #fff; text-align: center; }

.change_box{ width: 100%; height: 100%; background-color: rgba(0,0,0,1); position: absolute; left: 0; top: 0; z-index: 99;  display: none;}
.change_list{ position: absolute; left: 0; top: 30%; padding: 0 20%; width: 60%; }
.change_list li{ margin-top: 0.8rem; color: #fff; font-size: 0.42rem; height: 1rem; line-height: 1rem;text-align: center; border:#fff solid 1px; }

#change_moshi{ display: block; }

.room_box{}
.player_list{ text-align: center; position: absolute; left: 0; top: 20%; width: 100%; }
.player_list dt{ font-size: 0.38rem; color: #fff; margin:0.6rem 0 0.6rem; }
.player_list dd{ text-align: center; display: inline-block; margin: 0 0.2rem; position: relative; }
.photo{ width: 1.5rem; height: 1.5rem; line-height: 1.5rem; text-align: center; color: #fff; border:#ddd solid 1px; font-size: 0.5rem;}
.change_box .btn{ width: 30%; height: 0.68rem; line-height: 0.68rem; font-size: 0.36rem; }
.player_list dt p{font-size: 0.24rem; color: #bbb; margin-bottom: 0.5rem; line-height: 0.38rem; padding: 0 5%;}